body {
  height: 100%;
}

.container {
  width: 500px;
  margin: 100px auto;
  border-radius: 12px;
  text-align: center;
  background-color: #25273c;
  color: white;
  align-items: center;
}

.containerLight {
  background-color: #c2c4da;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #222228;
}

.footerLight {
  background-color: #50505f;
}

.buttonAdd {
  background-color: #2e67dfcd;
  color: #eaf9ee;
  border-radius: 8px;
  margin-left: 18px;
  padding: 24px;
}

.containerMid {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 40px;
  min-height: 200px;
}

.App {
  height: 100vh;
  background-color: #373742;
  margin: 0;
}

.AppLight {
  background-color: white;
}

@media only screen and (max-width: 550px) {
  .container {
    width: 300px;
  }
}
