* {
  box-sizing: border-box;
}

body {
  background-color: #373742;
}

.container {
  width: 500px;
  margin: 100px auto;
  border-radius: 12px;
  text-align: center;
  background-color: #25273c;
  color: white;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #222228;
}

.buttonAdd {
  background-color: #2e67dfcd;
  color: #eaf9ee;
  border-radius: 8px;
  margin-left: 18px;
  padding: 24px;
}

.containerMid {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 40px;
}
