/* css for the button in the bottom which will delete completed todos*/

.buttonClear {
  padding: 8px;
  background-color: #2562d8;
  color: white;
  border-radius: 8px;
}

.buttonClearLight {
  background-color: #94b5fbcd;
  color: #2d322f;
}

.buttonClear:active {
  transform: scale(0.9);
}
