/* css for the footer with the 3 buttons and one item */

.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
}

.todoCounter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: #2562d8;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.btnClicked {
  opacity: 0.5;
}

.buttonLight {
  background-color: #94b5fbcd;
  color: #2d322f;
}
