/* created css file for todo component */

* {
  box-sizing: border-box;
}

.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 30px;
}

ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  list-style: none;

  margin-bottom: 18px;
}

.todo span {
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.todoForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.todoForm input {
  font-size: 25px;
  margin-bottom: 8px;
}

.todoSpan {
  color: white;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.todoSpanLight {
  color: black;
  border-bottom: 1px solid black;
}

.todoSpanChecked {
  text-decoration: line-through;
  color: red;
}

@media only screen and (max-width: 550px) {
  .todo {
    font-size: 20px;
  }

  .todoForm {
    font-size: 13px;
  }

  .todoForm input {
    font-size: 18px;
  }
}
